body {
    background-color: #F0F0F0;
}


nav a {
    font-size: .75em;
    color: black;
}

.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}

nav .nav-item {
    position: relative;
    bottom: 6px;
}

.navbar{
    font-family: "Abel";
}

h1, h3 {
    font-family: "Anton";
}

.brand-name {
    font-size: 1.5em;
}

.dot1 {
    height: 105px;
    width: 105px;
    background-color: #E6563B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Anton";
    color: white;
    font-size: 1.3em;
    border: 6px solid white;
}

.dot2 {
    height: 105px;
    width: 105px;
    background-color: #EB9D3A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Anton";
    color: white;
    font-size: 1.3em;
    border: 6px solid white;
}
.dot3 {
    height: 105px;
    width: 105px;
    background-color: #7CB06C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Anton";
    color: white;
    font-size: 1.3em;
    border: 6px solid white;
}
.dot4 {
    height: 105px;
    width: 105px;
    background-color: #00ABA9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Anton";
    color: white;
    font-size: 1.3em;
    border: 6px solid white;
}

.selected-work {
    font-family: "Abel";
}

.dot1-apple {
    height: 18px;
    width: 18px;
    background-color: #E6563B;
    border-radius: 50%;
    display: inline-block;
}
.dot2-apple {
    height: 18px;
    width: 18px;
    background-color: #EB9D3A;
    border-radius: 50%;
    display: inline-block;
}
.dot3-apple {
    height: 18px;
    width: 18px;
    background-color: #7CB06C;
    border-radius: 50%;
    display: inline-block;
}
.dot4-apple {
    height: 18px;
    width: 18px;
    background-color: #00ABA9;
    border-radius: 50%;
    display: inline-block;
}
